/* Ubuntu Font Family Bower-ready v0.1.10 */
/* Ubuntu (complete package) @font-face kit */

$UbuntuFontsPath: "./fonts" !default;

@import "./ubuntu-base.scss";
@import "./ubuntu-condensed.scss";
@import "./ubuntu-mono.scss";
